@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit";
}

.par_small {
  font-size: 15px;
  color: hsl(216, 15%, 48%);
}
h2 {
  color: hsl(218, 44%, 22%);
}
